https://github.com/tarunluthra123/python-jupyter-setup/blob/master/Problem%20Solving%20Websites.md

# LIST SLICING

In [1]:
tv = [
    'Breaking Bad',
'The Wire',
'Friends',
'How I met your Mother',
'Sherlock',
'The Office',
'Doctor Who',
'Dark'
]

In [2]:
tv

['Breaking Bad',
 'The Wire',
 'Friends',
 'How I met your Mother',
 'Sherlock',
 'The Office',
 'Doctor Who',
 'Dark']

start - by default is 0
end - end  or length of list ( not included)
step - incremented value, by default is +1

# these function similar to range but are seperated by : (colon)

Lst[ Initial : End : IndexJump ]

### Generate a new list that contains all elements from index 2 before index 5

In [3]:
a = tv[2:5]
a

['Friends', 'How I met your Mother', 'Sherlock']

### Generate a new list that contains all elements at even index

In [4]:
b = tv[0:len(tv):2]
b

['Breaking Bad', 'Friends', 'Sherlock', 'Doctor Who']

### Difference Range() and List slicing

myList = list(range(1, 11))
<br>will generate:
<br>[1,2,3,4,5,6,7,8,9,10]

in other words, range is used to CREATE data

while list slicing is used on an already existing list

using the list from the example above
<br>mySlicedList = myList[2:5]
<br>will give us
<br>[3,4,5]

In [5]:
# Reversing the list

In [6]:
tv[4:1:-1]

['Sherlock', 'How I met your Mother', 'Friends']

In [7]:
# moves in right direction hence does not get any vlue
tv[4:1]

[]

In [8]:
lst = [4, 5, 8, 1, 9, 2]
lst

[4, 5, 8, 1, 9, 2]

In [9]:
print(lst[::-1])

[2, 9, 1, 8, 5, 4]

# List Comprehension

- is an elegant way to define and create lists based on existing lists
[expression for item in list

# Square list

generate a list of squares of all numbers between 1 to 100 - to be done 1 line of code

In [10]:
res = []
for i in range(1,101):
    res.append(i ** 2)
print(res)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [11]:
sq_lst = [i ** 2 for i in range(1,101)]
print(sq_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [12]:
def square(x):
    return x ** 2
res2 = list(map(square,range(1,101)))
print(res2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [13]:
### Even List
Given a list of random numbers,filter out all even numbers from it. do it in one line of code

SyntaxError: invalid syntax (<ipython-input-13-33879c5a5850>, line 2)

In [14]:
a = [27, 24, 21, 46, 48, 6, 25, 38, 10, 40]
a

[27, 24, 21, 46, 48, 6, 25, 38, 10, 40]

In [15]:
c=[]
for x in a:
    if x %2 == 0:
        c.append(x)
print(c)

[24, 46, 48, 6, 38, 10, 40]

In [16]:
b = [x for x in a if x % 2 == 0]
b

[24, 46, 48, 6, 38, 10, 40]

# Tuples

- tuples are used to store multiple items in a single variable
- a tuple is a collection which is ordered and immutable(unchanged)
- tuples are written with round brackets
- tuple item are indexed, the first item has index[0], the second item has index[1]etc.
- tuple can be created with tuple constructor - tuple()
- tuples can also be created by simply writing multiple values with comma separation
- tuple are processed faster than list for a fixed data

In [17]:
# Read only list
continents = ['Asia', 'Africa', 'North America', 'South America', 'Europe', 'Antarctica', 'Austrialia']

print(type(continents))

<class 'list'>

In [18]:
continents_tup = ('Asia', 'Africa', 'North America', 'South America', 'Europe', 'Antarctica', 'Austrialia')

print(type(continents_tup))

<class 'tuple'>

In [19]:
vowels_tup = ('a','e','i','o','u')
vowels_tup

('a', 'e', 'i', 'o', 'u')

In [20]:
planets_tup = ('Mercury',"Venus",'Earth','Mars',"Jupiter",'Saturn','Uranus','Neptune','Pluto')
print(type(planets_tup))
planets = 'Mercury',"Venus",'Earth','Mars',"Jupiter",'Saturn','Uranus','Neptune','Pluto'
print(type(planets))

<class 'tuple'>
<class 'tuple'>

In [21]:
# these are immutable

continents_tup[0] = 'Asia'

TypeError: 'tuple' object does not support item assignment

In [22]:
# Empty Tuple

a = ()
b = tuple() # constructor
print(a, b)

() ()

In [23]:
# list to tuple conversion
c = tuple([24, 34, 56, 78, 90])
print(c)

(24, 34, 56, 78, 90)

In [24]:
# tuple from list conversion
c = list(c)
print(type(c))
print(c)

<class 'list'>
[24, 34, 56, 78, 90]

In [25]:
# Tuple are heterogenous

a = ("Hello",123,45.6789,[4,5,7])
print(a)

('Hello', 123, 45.6789, [4, 5, 7])

In [26]:
# tuple are iterable

for continents in continents_tup:
    print(continents)

Asia
Africa
North America
South America
Europe
Antarctica
Austrialia

In [27]:
add = a + continents_tup
add

('Hello',
 123,
 45.6789,
 [4, 5, 7],
 'Asia',
 'Africa',
 'North America',
 'South America',
 'Europe',
 'Antarctica',
 'Austrialia')

In [28]:
# slicing
continents_tup[1:2]

('Africa',)

### Check if sorted
Given a list of numbers, check if it is sorted (in increasing order)

In [29]:
a = (1, 4, 10, 109 , 14)

In [30]:
ans = 'Sorted'
for i in range(len(a) -1):
    if a[i] < a[i+1]:
        continue
    else:
        ans ='not sorted'
        break
if ans == 'Sorted':
    print('Sorted')
else:
    print('Not Sorted')

Not Sorted

# Functions - args and kwargs

### Write a function which returns the product of all its argumnets

In [31]:
def product(a, b, c):# argumnets can be 100
    return a * b * c

product(1,2,3)

6

In [32]:
def prod(*nums):
    print(nums, type(nums))
prod(1,2,3,4,5)

(1, 2, 3, 4, 5) <class 'tuple'>

In [33]:
# accepted trend for arguments
def pro(*args):
    print(args)
    p = 1
    for n in args:
        p = p * n
    return p 

pro(10, 20, 30)

(10, 20, 30)

6000