# Function - kwargs (Keyword Arguments)

In [1]:
def person(name, age, profession):
    print(name, age, profession)

In [2]:
person("Peter Parker", 20, 'Photographer')

Peter Parker 20 Photographer

# if we want to pass new argument to function at run time

# Positional arguments comes before **kwargs

In [3]:
def person1(name, age, profession, **kwargs):
    print(name, age, profession)
    print(kwargs)
    print(type(kwargs))

In [4]:
person1("Peter Parker", 20, 'Photographer', city = "New york", villians=['Venom'])

Peter Parker 20 Photographer
{'city': 'New york', 'villians': ['Venom']}
<class 'dict'>

# Printing Args and Kwargs together

Kwargs are wrapped into dictionary
Args are wrapped into tuple

Args always positioned before Kwargs

In [5]:
def hogwarts(house1, house2, house3, house4, *args, **kwargs):
    print("houses are : ",house1, house2, house3, house4)
    print()
    print("ARGS :", args)
    print()
    print("KWARGS :", kwargs)

In [6]:
hogwarts(
    "Gryffindor",
    "Ravenclaw",
    "Hufflepuff",
    "Slytherin",
    # Args
    "Severus Snape",
    "Horace Slughorn",
    "Remus Lupin",
    # KWARGS
    headmaster = "Albus Bumbledore",
    deputy_headministress= "Minerva McGonagall"
)

houses are :  Gryffindor Ravenclaw Hufflepuff Slytherin

ARGS : ('Severus Snape', 'Horace Slughorn', 'Remus Lupin')

KWARGS : {'headmaster': 'Albus Bumbledore', 'deputy_headministress': 'Minerva McGonagall'}

# Strings
- ordered sequence of a group characters
- all strings are immutable

In [7]:
## Initialisation and indexing

In [8]:
books = '''
    Harry Potter and the Socceres Stone.
    Harry Potter and the Chamber of Secrets.
    Harry Potter and the Half Blood Prince.
'''

In [9]:
print(books)

    Harry Potter and the Socceres Stone.
    Harry Potter and the Chamber of Secrets.
    Harry Potter and the Half Blood Prince.

In [10]:
books[5]

'H'

In [11]:
s = "Hello"
s = "Hello World!"
print(s)

Hello World!

In [12]:
# length of string
len(books)

131

In [13]:
# Immutable - cant be changed
s = "ab"
print('ab',id(s))
s = "bb"
print('bb',id(s))

# Memory addresses are not same

ab 2251861057584
bb 2251869147568

# Operations

In [14]:
# Concatenation : +

fname = 'Harry'
Lname = 'Potter'

print(fname +' '+ Lname)
Book = "The Chamber Of Secrets"
print(fname +' '+ Lname+ ' '+ Book+' - '+str(2))

Harry Potter
Harry Potter The Chamber Of Secrets - 2

In [15]:
# Repetation : *

Book = "The Chamber Of Secrets\n"
print(Book * 5)

The Chamber Of Secrets
The Chamber Of Secrets
The Chamber Of Secrets
The Chamber Of Secrets
The Chamber Of Secrets

In [16]:
hello = 'Hello World! '
print(hello * 5)

Hello World! Hello World! Hello World! Hello World! Hello World!

In [17]:
# In Operator

Book = "Harry Potter and The Chamber Of Secrets\n"

if "Harry" in Book:
    print("Yes")
else:
    print("No")

Yes

In [18]:
# count of string occurence
Book.count('r')

5

In [19]:
# find(), index

Book = "Harry Potter and The Chamber Of Secrets\n"

print(Book.find('and'))

13

In [20]:
# replace()

text = "Python is amazing"
text

'Python is amazing'

In [21]:
new_text = text.replace('amazing','Awesome')
print(text, new_text, sep = '\n')

Python is amazing
Python is Awesome

In [22]:
# lower() and upper() and swapcase() and casefold()

Book = "Harry Potter and The Chamber Of Secrets\n"

print(Book, Book.lower(), Book.upper(), Book.casefold(), Book.swapcase(), sep = '\n')

Harry Potter and The Chamber Of Secrets

harry potter and the chamber of secrets

HARRY POTTER AND THE CHAMBER OF SECRETS

harry potter and the chamber of secrets

hARRY pOTTER AND tHE cHAMBER oF sECRETS

# Looping over strings

In [23]:
for char in Book:
    print(char)

H
a
r
r
y

P
o
t
t
e
r

a
n
d

T
h
e

C
h
a
m
b
e
r

O
f

S
e
c
r
e
t
s

# delete a string variable

In [24]:
del Book

print(Book)

NameError: name 'Book' is not defined

# ord function

- only accept string of length of 1 character

In [25]:
ord('a') # refers to ASCII value of small a

97

In [26]:
ord('A')

65

In [27]:
ord('Aa')

TypeError: ord() expected a character, but string of length 2 found

In [28]:
ord('a','b')

TypeError: ord() takes exactly one argument (2 given)

# chr()

In [29]:
chr(65)

'A'

 # string Slicing

In [30]:
s = 'Hello World!'
s[5:8]

' Wo'

# Reverse the order of words`

In [31]:
book = "Harry Potter and The Chamber Of Secrets"
l = book.split()
type(l)

list

In [32]:
s = "**".join(l)
s

'Harry**Potter**and**The**Chamber**Of**Secrets'

In [33]:
print(" ".join(l))
for i in range(len(l)):
    s = l[i][::-1]
    print(s,end = ' ')

Harry Potter and The Chamber Of Secrets
yrraH rettoP dna ehT rebmahC fO sterceS

In [34]:
# format string

apple_count = 4
orange_count = 10
guava_count = 5

print("Generate a string that say I have 4 apples, 10 oranges and 5 guavas")

print("I have {} apples, {} oranges and {} guavas.".format( apple_count, orange_count, guava_count))

print(f"I have {apple_count} apples, {orange_count} oranges and {guava_count} guavas." )

Generate a string that say I have 4 apples, 10 oranges and 5 guavas
I have 4 apples, 10 oranges and 5 guavas.
I have 4 apples, 10 oranges and 5 guavas.

# DocSTRING

- short description of the function
- should be defined at the start of function only
- can be of any length
- valid for functions and classes

In [35]:
def square(x):
    '''
    This function returns the square of a number
    '''
    return x ** 2