# Print Pattern

0 0 0 1 0 0 0 
0 0 2 3 2 0 0 
0 3 4 5 4 3 0 
4 5 6 7 6 5 4

In [1]:
n = 4
if n > 0:
    for i in range(1,n+1):
        if i == 1:
            print('0 ' * (n-i) , end = '')
            print(* range(i,2*i),end = ' ')
            print('0 '* (n-i))
        elif i > 1:
            print('0 ' * (n-i), end = '')
            print(* range(i,2*i),end = ' ')
            print(* range(2*i-2,i-1,-1),end = ' ')
            print('0 '* (n-i))

# Break statement

In [2]:
i = 0
while i <= 5:
    print(i)
    i+=1

In [3]:
i = 0
while i <= 5:
    print(i)
    i+=1
    
    if i == 3:
        break

In [4]:
for i in range(6):
    print(i)
    
    if i == 4:
        break

# Random Game

generate random numbers from 1 to 10 until we get a 5

In [5]:
# fetch the entire codebase of the library

import random

# infinite loop
while True:
    
    # it will generate random number between 1 to 10
    r = random.randint(1,10) # both 1 and 10 inclusive
    print(r)
    if r == 5:
        break;

# Continue Statement : skip an iteration

In [6]:
# print even number from 1 to 100

# skip multiples of three
for i in range(2,101,2):   # i { 2,4,6,8,10,......98,100}
    
    if i % 3 == 0:
        continue
        
    print(i, end = ' ')

# Check Prime

given a number check if it is prime .Print('Yes else "No"')

In [7]:
n = int(input())
isPrime = True
for i in range(2,n):
    
    # check whether i is a divisor/factor of n
    
    if n % i == 0:
        isPrime = False
        break

        
if isPrime and n != 1:
    print("Yes")
else:
    print("No")

43
Yes

# Swap two numbers

In [8]:
a = 5
b = 7

a, b = b, a

print(a, b)

# Python variable , donot store any values they are simply BINDED to them 
# References

7 5

# Python Lists

List is a group of objects/data of heterogenous or homogenous type

In [9]:
# Storing multiple inputs

a = [ 7, 3, 4, 8, 9]

print(a)

[7, 3, 4, 8, 9]

In [10]:
print(type(a))

<class 'list'>

In [11]:
s = ['hi','pyhton','hello','world']

b = ['hi',True,False, None, 123, 8900.987, ['hi','pyhton','hello','world']]

print(s)

print()

print(b)

['hi', 'pyhton', 'hello', 'world']

['hi', True, False, None, 123, 8900.987, ['hi', 'pyhton', 'hello', 'world']]

List in python is not Array

- List is heterogenous, array must be homogenousie data must be of same type
-

In [12]:
fruits = ["Apple","Banana","Guava","Pineapple"]

In [13]:
# Length of the list

len(fruits)

4

In [14]:
# fetch individual value   -- Index

fruits[0]

'Apple'

In [15]:
fruits[1]

'Banana'

In [16]:
# updating values of existing data  --- list is mutable ( can change/modify value) 

fruits[0]= 'Grapes'

In [17]:
fruits

['Grapes', 'Banana', 'Guava', 'Pineapple']

In [18]:
# Add value to list

fruits.append("Papaya")

In [19]:
fruits

['Grapes', 'Banana', 'Guava', 'Pineapple', 'Papaya']

In [20]:
fruits[0], fruits[1] = fruits[1], fruits[0]

In [21]:
fruits

['Banana', 'Grapes', 'Guava', 'Pineapple', 'Papaya']

In [22]:
# add duplicate

fruits[3] = 'Guava'

In [23]:
fruits

['Banana', 'Grapes', 'Guava', 'Guava', 'Papaya']

In [24]:
# insert at specific position

fruits.insert(3, 'Apple')

In [25]:
fruits

['Banana', 'Grapes', 'Guava', 'Apple', 'Guava', 'Papaya']

In [26]:
# remove value pop 

fruits.pop()

'Papaya'

In [27]:
fruits

['Banana', 'Grapes', 'Guava', 'Apple', 'Guava']

In [28]:
# empty list

a = []
b = list()  # list constructor 

print(a, b)

[] []

In [29]:
list(range(2,10,2))

[2, 4, 6, 8]

In [30]:
# Check value
a = [2, 6, 9, 3, 4,1,5]

In [31]:
# Check if a number is present in list

n = int(input())
if n in a:
    print("yes")

# Time Complexity - O(n)

7

In [32]:
a = [2, 6, 9, 3, 4, 1, 5]
b = 9

In [33]:
# Check if a number is present in list an dprint its index

print(a.index(b))

2

In [34]:
# Sorting the list

a.sort()

In [35]:
a

[1, 2, 3, 4, 5, 6, 9]

In [36]:
# find index without inbuilt function

for i in range(len(a)):
    if a[i] == b:
        print(i)
        break

6

In [37]:
# find index without inbuilt function for duplicate value

a = [2, 4, 6, 9, 3, 4, 1, 5]
b = 4

for i in range(len(a)):
    if a[i] == b:
        print(i)
        # break

1
5

In [38]:
# Reading list Input

In [39]:
a = input()

23 45 68 90

In [40]:
a

'23 45 68 90'

In [41]:
# How to read input

b  = list(map(int, input().split()))

23 45 68 90

In [42]:
b

[23, 45, 68, 90]

In [43]:
# Reading using for loop

a = input()

23 45 68 90

In [44]:
list1 = a.split()

print(type(list1))

<class 'list'>

In [45]:
list1

['23', '45', '68', '90']

In [46]:
type(list1[0])

str

In [47]:
for i in range(len(list1)):
    list1[i] = int(list1[i])
    
b

[23, 45, 68, 90]

In [48]:
# for loops work on lists?

l = [5,7,8,9,1]

for x in l:
    print(x, ' :' , x*x)

5  : 25
7  : 49
8  : 64
9  : 81
1  : 1

In [49]:
# reverse a list
l[::-1]

[1, 9, 8, 7, 5]