# Python print() Function

Print statement - args, end, sep

In [1]:
print("Hello World!")

Hello World!

In [2]:
print("Hello","World","2022","Year")

Hello World 2022 Year

In [3]:
print("Python Programming")
print("Hi"," There") # extra space between hi and there ie 2 spaces

Python Programming
Hi  There

sep

- python print uses argument as sep which is by default is space.
- sep also appears in d end?? No only between two values

In [4]:
print("Hello","World","2022","Year")
print()
print("Hello","World","2022","Year", sep = '__')

Hello World 2022 Year

Hello__World__2022__Year

end

- python print uses argument as end which is by default is new line.

In [5]:
print("Hello","World","2022","Year")
print()
print("Hello","World","2022","Year", sep = '__')
print()
print("Hello","World","2022","Year", sep = '__', end = '@@@@')
print("Hello","There")

print("Hello","There")

Hello World 2022 Year

Hello__World__2022__Year

Hello__World__2022__Year@@@@Hello There
Hello There

# Multi line string

In [6]:
a = "Hello World"
b = "Hello There"

print(a,b,type(a),"Python")

Hello World Hello There <class 'str'> Python

In [7]:
# ''' ..... '''  or """ ....... """

print('''The French Revolutionary Wars (French: Guerres de la Révolution française) were a series of sweeping military conflicts lasting from 1792 until 1802 and resulting from the French Revolution. They pitted France against Great Britain, Austria, the Holy Roman Empire, Prussia, Russia, and several other monarchies. They are divided in two periods: the War of the First Coalition (1792–97) and the War of the Second Coalition (1798–1802). Initially confined to Europe, the fighting gradually assumed a global dimension. After a decade of constant warfare and aggressive diplomacy, France had conquered territories in the Italian Peninsula, the Low Countries and the Rhineland in Europe and abandoned Louisiana in North America. French success in these conflicts ensured the spread of revolutionary principles over much of Europe.

As early as 1791, the other monarchies of Europe looked with outrage at the revolution and its upheavals; and they considered whether they should intervene, either in support of King Louis XVI, to prevent the spread of revolution, or to take advantage of the chaos in France. Austria stationed significant troops on its French border and together with Prussia, issued the Declaration of Pillnitz, which threatened severe consequences should anything happen to King Louis XVI and Queen Marie-Antoinette. After Austria refused to recall its troops from the French border and to back down on the perceived threat of using force, France declared war on Austria and Prussia in the spring of 1792; both countries responded with a coordinated invasion that was eventually turned back at the Battle of Valmy in September. This victory emboldened the National Convention to abolish the monarchy.[4] A series of victories by the new French armies abruptly ended with defeat at Neerwinden in the spring of 1793. The French suffered additional defeats in the remainder of the year and these difficult times allowed the Jacobins to rise to power and impose the Reign of Terror to unify the nation.

In 1794, the situation improved dramatically for the French as huge victories at Fleurus against the Austrians and at the Black Mountain against the Spanish signaled the start of a new stage in the wars. By 1795, the French had captured the Austrian Netherlands and the Dutch Republic. The French also put Spain and Prussia out of the war with the Peace of Basel. A hitherto unknown general named Napoleon Bonaparte began his first campaign in Italy in April 1796. In less than a year, French armies under Napoleon decimated the Habsburg forces and evicted them from the Italian peninsula, winning almost every battle and capturing 150,000 prisoners. With French forces marching towards Vienna, the Austrians sued for peace and agreed to the Treaty of Campo Formio, ending the First Coalition against the Republic.

The War of the Second Coalition began in 1798 with the French invasion of Egypt, headed by Napoleon. The Allies took the opportunity presented by the French effort in the Middle East to regain territories lost from the First Coalition. The war began well for the Allies in Europe, where they gradually pushed the French out of Italy and invaded Switzerland – racking up victories at Magnano, Cassano and Novi along the way. However, their efforts largely unraveled with the French victory at Zurich in September 1799, which caused Russia to drop out of the war.[5] Meanwhile, Napoleon's forces annihilated a series of Egyptian and Ottoman armies at the battles of the Pyramids, Mount Tabor and Abukir. These victories in Egypt further enhanced Napoleon's popularity back in France, and he returned in triumph in the fall of 1799, though the Egyptian Campaign ultimately ended in failure. Furthermore, the Royal Navy had won the Battle of the Nile in 1798, further strengthening British control of the Mediterranean and weakening the French Navy.''')

The French Revolutionary Wars (French: Guerres de la Révolution française) were a series of sweeping military conflicts lasting from 1792 until 1802 and resulting from the French Revolution. They pitted France against Great Britain, Austria, the Holy Roman Empire, Prussia, Russia, and several other monarchies. They are divided in two periods: the War of the First Coalition (1792–97) and the War of the Second Coalition (1798–1802). Initially confined to Europe, the fighting gradually assumed a global dimension. After a decade of constant warfare and aggressive diplomacy, France had conquered territories in the Italian Peninsula, the Low Countries and the Rhineland in Europe and abandoned Louisiana in North America. French success in these conflicts ensured the spread of revolutionary principles over much of Europe.

As early as 1791, the other monarchies of Europe looked with outrage at the revolution and its upheavals; and they considered whether they should intervene, either in support of King Louis XVI, to prevent the spread of revolution, or to take advantage of the chaos in France. Austria stationed significant troops on its French border and together with Prussia, issued the Declaration of Pillnitz, which threatened severe consequences should anything happen to King Louis XVI and Queen Marie-Antoinette. After Austria refused to recall its troops from the French border and to back down on the perceived threat of using force, France declared war on Austria and Prussia in the spring of 1792; both countries responded with a coordinated invasion that was eventually turned back at the Battle of Valmy in September. This victory emboldened the National Convention to abolish the monarchy.[4] A series of victories by the new French armies abruptly ended with defeat at Neerwinden in the spring of 1793. The French suffered additional defeats in the remainder of the year and these difficult times allowed the Jacobins to rise to power and impose the Reign of Terror to unify the nation.

In 1794, the situation improved dramatically for the French as huge victories at Fleurus against the Austrians and at the Black Mountain against the Spanish signaled the start of a new stage in the wars. By 1795, the French had captured the Austrian Netherlands and the Dutch Republic. The French also put Spain and Prussia out of the war with the Peace of Basel. A hitherto unknown general named Napoleon Bonaparte began his first campaign in Italy in April 1796. In less than a year, French armies under Napoleon decimated the Habsburg forces and evicted them from the Italian peninsula, winning almost every battle and capturing 150,000 prisoners. With French forces marching towards Vienna, the Austrians sued for peace and agreed to the Treaty of Campo Formio, ending the First Coalition against the Republic.

The War of the Second Coalition began in 1798 with the French invasion of Egypt, headed by Napoleon. The Allies took the opportunity presented by the French effort in the Middle East to regain territories lost from the First Coalition. The war began well for the Allies in Europe, where they gradually pushed the French out of Italy and invaded Switzerland – racking up victories at Magnano, Cassano and Novi along the way. However, their efforts largely unraveled with the French victory at Zurich in September 1799, which caused Russia to drop out of the war.[5] Meanwhile, Napoleon's forces annihilated a series of Egyptian and Ottoman armies at the battles of the Pyramids, Mount Tabor and Abukir. These victories in Egypt further enhanced Napoleon's popularity back in France, and he returned in triumph in the fall of 1799, though the Egyptian Campaign ultimately ended in failure. Furthermore, the Royal Navy had won the Battle of the Nile in 1798, further strengthening British control of the Mediterranean and weakening the French Navy.

In [8]:
# if we dont assign ''' ''' or """""" and not assign that to a variable

'''
.........
   multi line comments
.........
'''

# CTRL + /  -- shortcut for comment
# multi line comments dont exist in python

# Does comments hold memory ?

'\n.........\n   multi line comments\n.........\n'

# Branching -- conditions or decision

if , elif and else

In [9]:
age = int(input())

if 100 > age > 75:
    print("Eligibility age is between 75 and 100")
elif age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

78
Eligibility age is between 75 and 100

In [10]:
age = 100
if age >= 65:
    print("retired")
if age < 0:
    print("invalid date")
if age >= 18:
    print("eligible to vote")
    
# each if will be executed as a seperate block

retired
eligible to vote

# Logical Operator

In [11]:
# And

batch = 'python' 
org = "scaler"

if org == "scaler" and batch == 'python':
    print("Allowed to login, Welcome")
else:
    print("Login denied!")

Allowed to login, Welcome

In [12]:
org = input("Enter your organisation: ")

if org == "Scaler" or org == "Interviewbit":
    print("Allowed to login, Welcome")
else:
    print("Login denied!")

Enter your organisation: Scaler
Allowed to login, Welcome

In [13]:
org = input("Enter your organisation: ")

if org == "Scaler" or org == "Interviewbit":
    print("Allowed to login, Welcome")
else:
    print("Login denied!")

Enter your organisation: ABC
Login denied!

# Looping -repetation

In [14]:
# print 1 to 100

counter = 1
while counter<= 100:
    print(counter, end = ' ')
    counter += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [15]:
# print 1 to 10

counter = 1
while counter<= 10:
    print(counter)
    counter += 1

1
2
3
4
5
6
7
8
9
10

 # Print pattern
    
    *
    **
    ***
    ****

In [16]:
n = int(input())
i = 1

print()

# each iteration will print 1 row
while i <= n:
    print('*'*i)
    i += 1

10

*
**
***
****
*****
******
*******
********
*********
**********

#  Print pattern
1 2 3 4
1 2 3
1 2
1

In [18]:
n = 4

for i in range(n, 0, -1):
    for j in range(1,i+1):
        print(j, end = " ")
    print()

1 2 3 4
1 2 3
1 2
1

# print pattern

0 0 0 1 0 0 0
0 0 2 3 2 0 0
0 3 4 5 4 3 0
4 5 6 7 6 5 4

zero = N-i 
numbers = print an increasing sequence 
          start point row ie i
          end point -- 2i - 1
numbers = print decreasing sequence
          start point   -- 2i -2 ( one less then end)
          end point -- i
zero = N-i

In [22]:
n = 4
for i in range(1, n+1):
    # print n-i zeros
    print("0 "*(n-i), end = '')
    
    # increasing sequence
    for j in range(i, 2*i):
        print(j, end = " ")
    
    # decreasing sequence
    
    for k in range(2*i-2,i-1,-1): # i -1
        print(k, end = " ")
        
    # print n-i zeros
    
    print("0 "*(n-i), end = ' ')
    print()

0 0 0 1 0 0 0
0 0 2 3 2 0 0
0 3 4 5 4 3 0
4 5 6 7 6 5 4

# Range Function

In [23]:
# all numbers from 0 to 10

range(11)

'''
this method has 3 arguments : START, END and STEP

Start - initial point , by default 0
End - ending point ie end number -1
Step - increment and decrement
'''

'\nthis method has 3 arguments : START, END and STEP\n\nStart - initial point , by default 0\nEnd - ending point ie end number -1\nStep - increment and decrement\n'

In [24]:
# range of even numbers between 0 to 10

list(range ( 0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [25]:
# range of even numbers between 0 to 10

list(range ( 0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [26]:
# range of odd numbers between 0 to 10

list(range ( 1, 11, 2))

[1, 3, 5, 7, 9]

In [27]:
list(range ( 0, 11, -2))

# because of interger line ie numbering differene of 0 and 11

[]

# For Loop

iterate over a range

In [28]:
# print odd numbers from 1 to 10

for i in range(1, 10, 2):
    print(i, end = ' ')

1 3 5 7 9

In [29]:
# square of odd numbers between 0 to 10

for i in range(1, 10, 2):
    print(i ** 2, end = '  ')
    print(type(i))

1  <class 'int'>
9  <class 'int'>
25  <class 'int'>
49  <class 'int'>
81  <class 'int'>

In [30]:
# reverse of odd number cubes from 1 to 10;

print("Cubes of odd number from 1 to 10: ")
for i in range(9,0,-2):
    print(i ** 3, end = ' ')

# reverse of even number cubes from 1 to 10;
print("\n\nCubes of even number from 1 to 10: ")    
for i in range(10,0,-2):
    print(i ** 3, end = ' ')

Cubes of odd number from 1 to 10:
729 343 125 27 1

Cubes of even number from 1 to 10:
1000 512 216 64 8

# Sum of digits

In [31]:
# solved using Number

n = int(input())
sum = 0

# run the loop until user input is more than 0
while n > 0:
    digit = n % 10
    n = n // 10
    sum += digit

print(sum)

6789
30

In [32]:
# solved using string

N = input("")
total = 0
for i in range(len(N)):
    total += int(N[i])
print(total)

34567
25